body{
   margin:auto;
font-family: "Poppins", sans-serif;
}
h1 {
    font-size: 50px;
}
.name-h{
    color: orange;
}
.halfarea {
     width: 40%;
     float: left;
     margin-left: 5%;
    padding-left: 5%;
    }
.halfarea img{
    width: 90%;
}
.banner{
    background-image:url("images/top-banner.png ") ;
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link_button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;


}